{% extends 'base.html' %}

{% block content %}
    <h1>SELAMAT DATANG DI RUMAH SAYA</h1>
    <div>
        <input type="text" id="result" readonly>
    </div>
    <div>
        <button onclick="appendNumber(1)">1</button>
        <button onclick="appendNumber(2)">2</button>
        <button onclick="appendNumber(3)">3</button>
        <button onclick="appendOperator('+')">+</button>
    </div>
    <div>
        <button onclick="appendNumber(4)">4</button>
        <button onclick="appendNumber(5)">5</button>
        <button onclick="appendNumber(6)">6</button>
        <button onclick="appendOperator('-')">-</button>
    </div>
    <div>
        <button onclick="appendNumber(7)">7</button>
        <button onclick="appendNumber(8)">8</button>
        <button onclick="appendNumber(9)">9</button>
        <button onclick="appendOperator('')"></button>
    </div>
    <div>
        <button onclick="appendNumber(0)">0</button>
        <button onclick="appendOperator('.')">.</button>
        <button onclick="calculateResult()">=</button>
        <button onclick="appendOperator('/')">/</button>
    </div>

    <script>
        var resultElement = document.getElementById('result');
        var currentNumber = '';
        var firstOperand = '';
        var secondOperand = '';
        var operator = '';

        function appendNumber(number) {
            if (currentNumber === '0' || currentNumber === '') {
                currentNumber = number.toString();
            } else {
                currentNumber += number.toString();
            }
            resultElement.value = currentNumber;
        }

        function appendOperator(newOperator) {
            if (operator !== '') {
                calculateResult();
            }
            operator = newOperator;
            firstOperand = parseFloat(currentNumber);
    {% endblock %}



  